
$color-name: #0073b1;
$color-title: #777;

body {
    font-family: sans-serif;
    font-size: 1em;
}

.errors {
    margin: 1rem 0;
    padding: 2rem;
    border-radius: .5em;
    border: 2px solid #cc0000;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,f9e3e3+37 */
    background: #febbbb; /* Old browsers */
    background: -moz-linear-gradient(top,  #febbbb 0%, #f9e3e3 37%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #febbbb 0%,#f9e3e3 37%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #febbbb 0%,#f9e3e3 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin ruled {
    & {
        position: relative;
        &:before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: calc(80px + 1rem);
            right: 0;
            height: 1px;
            background-color: #cdcdcd;
        }
    }
}

#contacts {

    padding-left: calc(80 + 1rem);

    img {
        float: left;
        width: 80px;
        height: 80px;
        margin: 0 1rem 1rem 0;
        border-radius: 50%;
        background-color: #cdcdcd;
    }

    .contact {
        @include clearfix;
        @include ruled;
        margin-bottom: 1rem;
    }

    span {
        display: block;

        &.name {
            font-size: 1.3em;
            color: $color-name;
        }
        &.title {
            color: $color-title;
        }
        &.company {
            font-size: 0.8rem;
            margin-bottom: 0.4rem;
        }
    }

    .bio {
        font-style: italic;
        font-size: .8rem;
    }

    p, pre {
        margin: 0;
    }
}